<h1 id="tableLabel">Search Page</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
  <div class="form-group">
    <label for="search">Search</label>

    <input type="text" placeholder="search" name="searchName" ngModel />

  </div>
  <div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  <hr />

</form>


<div>




</div>

<h3>Building</h3>
<table class='table table-striped' aria-labelledby="tableLabel">

  <thead>
    <tr>
      <th>shortCut</th>
      <th>name</th>
      <th>description</th>
      <th>Weight</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let building of buildings">
      <td>{{ building.shortCut }}</td>
      <td>{{ building.name }}</td>
      <td>{{ building.description }}</td>
      <td>{{ building.weight}}</td>

    </tr>
  </tbody>
</table>

<hr />
<h3>Locks</h3>
<table class='table table-striped' aria-labelledby="tableLabel">

  <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Description</th>
      <th>SerialNumber</th>
      <th>Floor</th>
      <th>RoomNumber</th>
      <th>Weight</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let lockkey of locks">
      <td>{{ lockkey.type }}</td>
      <td>{{ lockkey.name }}</td>
      <td>{{ lockkey.description }}</td>
      <td>{{ lockkey.serialNumber}}</td>
      <td>{{ lockkey.floor }}</td>
      <td>{{ lockkey.roomNumber}}</td>
      <td>{{ lockkey.weight}}</td>

    </tr>
  </tbody>
</table>
